<!DOCTYPE html>
<html>
<head>
  <title>View and Download PDF</title>
</head>
<body>
  <h1>Sample Content</h1>
  <p>This is some sample content that users can view.</p>
  <%= link_to "Download PDF", generate_pdf_learnings_path(format: :pdf), class: "btn btn-primary" %>
</body>
</html>

