    <% @categories.each do |categorie| %>
        <div class="background-container">
        	<h6 class="text-center" style="color: black; font-size: 52px; font-weight: bold; margin-top: 136px;"><%= categorie.title %></h6><br>
    <!--     	<div class="mernstack" style="margin-left: 286px">
        		<img src="./assets/mark.png" style="width: 20vh; margin-top: 12px; margin-right: 40px;">&nbsp;&nbsp;&nbsp;&nbsp;
        	    <img src="./assets/stack.png" style="width: 20vh; margin-top: 12px; margin-right: 40px;">&nbsp;&nbsp;&nbsp;&nbsp;
        	    <img src="./assets/devlop.png" style="width: 20vh; margin-top: 12px; margin-right: 40px;">&nbsp;&nbsp;&nbsp;&nbsp;
        	    <img src="./assets/ment.png" style="width: 20vh; margin-top: 12px;">
        		
        	</div> -->
        </div>
    <% end %>

    <h2>hello</h2>